
lottie-player {
  margin: 0 auto;
}
.home-1 {
  margin: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #f5f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-home {
  margin-top: -100px;
}

.c-home {
  background-color: var(--black);
  background-image: url("/image/home/grid.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 1600px auto;
  display: grid;
  margin: auto;
  text-align: center;
  align-items: center;
  margin: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 50px;
  transform: translate3d(100, 0, 0) scale(0, 0);
  border-radius: 0 0 38px 38px;
}
.home-1 .c-home img {
  width: 380px;
  text-align: center;
  align-items: center;
  border-radius: 1000px;
  margin-bottom: 50px;
}
.home-1 .c-home h2 {
  font-size: 64px !important;
  color: var(--white);
  text-align: center;
}
.home-1 .c-home a {
  color: #ffffff5a;
  align-content: center;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 300;
}
.home-1 .c-home a:hover {
  color: var(--red);
}

.home-1 span {
  font-size: 64pxpx;
  font-weight: 300;
}

.link-left {
  z-index: 5;
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  bottom: 490px;
  left: -205px;
  transform: rotate(-90deg) translate(-50%, 0);
  gap: 30px;
}
.link-right {
  z-index: 5;
  position: absolute;

  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  bottom: 200px;
  right: -60px;
  transform: rotate(-90deg) translate(-50%, 0);
  gap: 30px;
}

.link-left ul,
.link-right ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 20px;
  list-style-type: none;
  color: white !important;
  text-transform: uppercase;
}
.link-line {
  background-color: #f5f5f7;
  height: 1px;
  width: 100px;
}
.link-left li a,
.link-right li a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  color: #f5f5f7 !important;
}
.link-left li a::after,
.link-right li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--red);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.link-left li a:hover::after,
.link-left li a:focus::after,
.link-right li a:hover::after {
  color: var(--white);
  transform: scaleX(1);
  transform-origin: bottom left;
}
.link-center {
  z-index: 5;
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  bottom: 0;
  left: 50% !important;
  gap: 30px;
}
.link-center .link-line {
  width: 1px;
  height: 60px;
}
/* ------------------------- */
.home-mail {
  color: #dbdbdb;
  background-color: #f5f5f7;
  text-align: center;
  padding-bottom: 18px;
}
.home-mail a {
  font-size: 58px;
  font-weight: 800;
  color: #dbdbdb;
}
.home-mail a:hover {
  color: #b2b2b2;
}

.home-explore {
  align-items: center;
  text-align: center;
  padding: 15px;
  background-color: var(--white);
}

.home-explore a {
  color: var(--gray);
}
.home-explore a:hover {
  color: var(--red);
}
/* ----------------------- */

.home-2 {
  background-color: #f5f5f7;
  padding: 87px 20px 20px 20px;
}

.home-2-container {
  background-color: var(--white);
  padding: 20px 0px 50px 0;
  margin: auto;
  align-items: center;
  text-align: center;
  border-radius: 25px 25px 0px 0px;
}
.home-2-bar a {
  background-color: #f5f5f7 !important;
  height: 12px;
  width: 80px;
  margin: auto;
  border-radius: 100px;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
  cursor: pointer;
}
.home-2 h2 {
  color: var(--black);
  text-align: center;
}
.home-2 img {
  width: 700px;
}

.home-2 a {
  color: var(--white);
  background-color: var(--blue);
  font-size: 14px;
  font-weight: 300;
  padding: 6px 12px;
}
.home-2 a:hover {
  background-color: var(--blue-hover);
}

/* ------------------------- */
.home-3 {
  background-color: var(--white);
  padding: 20px;
}
.home-3-container {
  background-color: #f5f5f7;
}
.home-conatiner {
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
}

.home-3 h2 {
  color: var(--black);
  text-align: center;
}

.home-3 p{
  margin-bottom: 25px;
}
.yes-button-home::before {
  background: #0a0a0a!important;               
}

.home-3 img {
  width: 500px;
}
.home-3 .col1 {
  align-items: center;
}
.home-3.col-6 {
  padding: 0px !important;
  margin: 00px !important;
  background-color: #f5f5f7;
}

/* ------------------------- */

.home-5 {
  background-color: #f5f5f7;
  padding: 10px;
}
.home-5 .col-6 {
  padding: 5px;
  margin: 0px;
  background-color: #f5f5f7;
}
.home-5 img {
  padding: 5px;
  margin: 0px;
  width: 100%;
}
/* ------------------------- */

.home-6 {
  background-color: #f5f5f7;
  border-radius: 24px;
  padding: 100px 0px;
  background-color: var(--black);
  align-content: center;
  align-items: center;
}
.home-conatiner-6 {
  margin: auto;
  align-content: center;
  text-align: center;
  align-items: center;
}
.home-6 .col1 {
  text-align: left;
  padding-right: 180px;
}
.home-6 .col1 h2 {
  color: var(--white);
}
.home-6 .col1 p {
  color: var(--white);
}
.home-6 .col1 a {
  color: #0064d6;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline !important;
}
.home-6 .col1 hr {
  color: #b2b2b2;
}

.home-6 .col1 .home-6-btn:hover {
  background-color: var(--red);
}
.home-6 .col1 a:last-child {
  margin: 20px 0px;
  color: var(--white) !important;
  text-decoration: none !important;
  background-color: var(--red-hover);
  font-size: 14px;
  font-weight: 300;
  padding: 16px 26px;
  text-decoration: none !important;
  box-shadow: 14px 13px 40px 13px rgb(133 0 0 / 33%);
  border-radius: 100px;
}

.home-6 .col2 {
  padding: 25px;
  display: grid;
  gap: 20px;
}
.home-6 .col2 .why-box {
  width: 384px;
  padding: 20px;
  /* margin: 20px; */
  align-items: center;
  display: flex;
  gap: 20px;
  border-radius: 16px;
}
.home-6 .col2 .why-box:hover {
  background-color: #0a0d11cb !important;
  cursor: pointer;
  box-shadow: 20px 20px 80px 0px rgb(212 0 0 / 18%);
}
.home-6 .col2 img {
  width: 40px;
}
.home-6 .col2 .why-box h3 {
  color: var(--white);
  text-align: left;
  font-size: 16px;

  margin: 0px;
  padding: 0px;
}
.home-6 .col2 .why-box p {
  text-align: left;
  font-size: 12px;
}

/* Slider Start */
.h-text-slider {
  margin: 100px 0 20px 0;
}
.tl-slider,
.tr-slider {
  width: 100%;
  margin-top: 30px;
}

.tl-slider .swiper-slide,
.tr-slider .swiper-slide {
  width: auto !important;
  padding: 0px 30px;
}

.tl-slider p,
.tr-slider p {
  font-size: 22px;
  font-weight: 500;
  width: auto;
  color: rgb(80, 80, 80);
}

.tl-slider .swiper-wrapper,
.tr-slider .swiper-wrapper {
  transition-timing-function: linear;
}

.tr-slider .swiper-wrapper .swiper-slide:nth-child(even) p,
.tl-slider .swiper-wrapper .swiper-slide:nth-child(even) p {
  color: rgb(47, 47, 47) !important;
}

/* Slider End */

/* ----------------- */

.home-4 {
  background-image: url("/image/Dot-Pattern.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  text-align: center;
  align-items: center;
  text-align: center;
  background-color: var(--white);
  padding: 100px 0px;
}
.home-4 h2 {
  color: var(--black);
}

/* Slider Start */

.s-slider {
  width: 100%;
  margin-top: 30px;
}

.s-slider img {
  width: 300px;
  border-radius: 16px;
  border: 1px solid var(--border);
}

.s-slider .swiper-wrapper {
  transition-timing-function: linear;
}
/* Slider End */

/* Slider Start */
.c-slider {
  width: 100%;
}

.c-slider img {
  width: 100px;
}
.c-slider img:hover {
  filter: brightness(0.4);
  cursor: pointer;
  transition: 0.5s ease;
}
.c-slider .swiper-wrapper {
  transition-timing-function: linear;
}

.c-slider::before,
.c-slider::after {
  background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.c-slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.c-slider::before {
  left: 0;
  top: 0;
}

/* Slider End */

/* --------- */

/* ---------- Banner Image Move Start------------ */

@keyframes moveRightToLeft {
  0% {
    transform: translateX(
      30%
    ); /* Start position (right side of the container) */
  }
  30% {
    transform: translateX(
      -5%
    ); /* Middle position (left side of the container) */
  }
  100% {
    transform: translateX(30%); /* End position (right side of the container) */
  }
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(
      -5%
    ); /* Start position (left side of the container) */
  }
  30% {
    transform: translateX(
      30%
    ); /* Middle position (right side of the container) */
  }
  100% {
    transform: translateX(-5%); /* End position (left side of the container) */
  }
}
/* Apply the animations to the image */
.simage {
  width: 200px; /* Adjust the width of your image as needed */
  height: auto;
  /* animation: moveRightToLeft 15s linear infinite,
    moveLeftToRight 15s linear infinite;
  white-space: nowrap; 
  overflow: hidden;  */
}

/* ---------- Banner Image Move End------------ */

/* ------------------------- */
.home-7 {
  background-color: var(--white);
}
.home-7-conatiner {
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  height: 200px;
}

.home-7 p {
  margin: 0px;
  padding: 0px;
  color: var(--black);
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

.home-7 a {
  color: var(--white);
  /* background-color: var(--blue); */
  font-size: 14px;
  font-weight: 400;
  padding: 6px 16px;
  margin: 25px 0 0 0;
}


.home-7 .col1 {
  align-items: center;
}
.home-7 .col-6 {
  padding: 0px !important;
  margin: 00px !important;
  background-color: #f5f5f7;
}

/* ------------------------- */
