
.titlebar h2 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  text-align: left;
}
.titlebar p {
  font-size: 14px;
  text-align: center;
  color: var(--gray);
  margin: 0px;
  padding: 0px;
}




/* ------------------------------------------ */
.c-contain {
  background-color: var(--white);
  min-height: calc(100vh - 64px);
}

.c-container {
  padding: 150px 5px!important;
  display: flex;
  margin: auto;
  height: 100%;
  gap:100px;
}
.c-contain-2 {
  flex-direction: column;
  /* padding: 50px; */
  height: 100%;
  display: flex;
  align-items: left;
  /* justify-content: center; */
}

.c-contain-1 h2 {
  color: var(--black);
  text-align: left;
  font-size: 54px;
  font-weight: 700;
}
.c-contain-1 p {
  color: var(--gray);
  text-align: left;
  font-size: 14px;
  margin: 30px 0;
  font-weight: 300;
}
.c-contain-1 a {
  color: var(--black);
  text-align: left;
  font-size: 24px;
}
.c-contain-1 a:hover {
  color: var(--red);
}


.c-contain-2 h2 {
  color: var(--black);
  font-size: 34px;
  font-weight: 300;
}
.c-contain-2 p {
  color: var(--gray);
  text-align: justify;
  text-justify: inter-word;
  font-size: 14px;
  font-weight: 300;
  margin: 0px;
}
#pills-profile a {
  width: 333px;
  color: var(--white);
  padding: 20px 28px;
  background-color: var(--blue);
  font-size: 18px;
  font-weight: 500;
  border-radius: 205px;
  margin-top: 30px;
}
#pills-profile a:hover {
  background-color: var(--blue-hover);
  box-shadow: 0px 15px 20px rgba(46, 101, 229, 0.1);
}
#pills-profile a:hover i {
  margin-left: 10px;
}

.c-contain .tab-pane {
  padding: 25px 0px;
}
.c-contain button {
  padding: 0px;
  margin: 0px 20px 0px 0px;
  font-size: 30px;
  color: #999999;
  font-weight: 500;
  border-bottom: 3px solid transparent;
}
.c-contain .nav-link:hover {
  color: var(--black);
}

.c-contain .nav-link.active {
  color: var(--black);
  border-bottom: 3px solid var(--black);
}
.c-contain .nav-link:focus {
  color: var(--black);
}

/* -------- */


label {
  color: var(--black);
  font-size: 18px;
}
input{
  padding: 0px;
  margin: 0px;
}
input::placeholder,textarea::placeholder,option{
  font-size: 16px;
  color: #c6c6c6!important;
}
.form-row{
  margin: 20px 0px;
}

/* input{
  border:1px solid red;
} */
.tab-content .fom-btn{
  text-align: left;
  width: 205px;
  color: var(--white);
  padding: 20px 28px;
  background-color: var(--blue);
  font-size: 18px;
  font-weight: 500;
  border-radius: 205px;
  /* margin-top: 30px; */
  border: none !important;
}

.tab-content .fom-btn:hover {
  background-color: var(--blue-hover);
  box-shadow: 0px 15px 20px rgba(46, 101, 229, 0.1);
}
.tab-content .fom-btn:hover i {
  margin-left: 10px;
}
form p{
  padding-top: 16px;
}
/* ------------------------------------------ */

.c-footer {
  position: relative;
  border: none;
  border-top: 1px solid rgba(121, 121, 121, 0.1) !important;
  margin: auto;
  width: 100%;
  z-index: 9;
  align-items: center;
  height: 60px;
  display: flex;
  color: var(--black);
  background: var(--white) !important;
  border-bottom: 1px solid rgba(121, 121, 121, 0.1) !important;
}
.c-bar {
  font-size: 14px;
}
.c-footer a {
  margin: 0px 2px;
  color: #616161 !important;
  background-color: #f4f4f4 !important;
  font-size: 14px !important;
  padding: 0px !important;
  padding: 6px 7px !important;
  /* border-radius: 8px!important; */
}
.c-footer a:hover {
  color: var(--white) !important;
  background-color: var(--black) !important;
}
.c-footer a:last-child {
  font-size: 12px !important;
  padding: 6px 16px !important;
}

/* ------------------------------------------ */
